body{
  padding: 0;
  margin: 0;
  background: url(../img/log1.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.form-horizontal{
	background-color: rgba(1,1,1,0.7);
	border: none;
	border-radius: 30px;
	padding: 15px 215px;
	margin: 150px 50px;
	
}

.sub{
	width: 680px !important;
}
.btn{
    width: 100px;
    border-radius: 10px !important;
    
  }

  .btn:hover{
    width: 120px;
    border-radius: 25px !important;
    background-color: #f4511e !important;
    transition: 0.3s;
    text-transform: uppercase !important;
    color: white !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    
  }

